{% extends 'base.html' %}
{% block title %}Мои подписки{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for author, recipes in page %}
        {% load main_filters %}
        <div class="card-user" data-author="{{ author.pk }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.username }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                
                {% for recipe in recipes|slice:":3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="здесь должна быть картинка" class="recipe__image">
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                    </div>
                </li>
                {% endfor %}
                <li class="card-user__item">
                    {% if counter|get_item:author.username %}
                        <a href="{% url 'profile' username=author.username %}" class="card-user__link link">Еще {{counter|get_item:author.username}} рецептов...</a>
                    {% else %}
                        <a href="{% url 'profile' username=author.username %}" class="card-user__link link">Страничка автора...</a>
                    {% endif %}
                </li>
                
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
    {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
</main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/Subscribe.js' %}"></script>       
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/MyFollow.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>        
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
